.bordercard{
background: var(--bgcolor1);
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
height: 100%;
width:100%;
transition: all var(--transition);
padding: 2em;
z-index: 2;
position: relative;
}
.bordercardborder{
background:var(--bgcolor2);
transition: all var(--transition);
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15) inset;
margin:2em;
padding: 2em;
z-index: 1;
position: relative;
color: black;
}
@media (prefers-color-scheme: dark) {
    .bordercardborder{
    background: #777;
    color: #fff;
    
}}
[data-theme="dark"] .bordercardborder{
    background: #777;  
    color: #fff;
}
[data-theme="light"] .bordercardborder{
    background: var(--bgcolor2);
    color: black;
}