
.card{
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid black;
    position: relative;
    height: 20em;
    width:20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--bgcolor1);
    z-index: 1;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.33);
    transition: background-color var(--transition),color var(--transition);
    }
    .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    }
    .card h4{
      text-align: center;
      position: absolute;
      color: var(--textcolor1);
      top: 1em;
    }
    @media only screen and (max-width: 600px){
      .card img {
        width: max(50%, 6em);
      }
      .card{
        width: calc(95% - 3em);
      }
    }
    .action{
    background-color: var(--bgcolor1);
    transition: background-color var(--transition);
    padding: 0.0125rem;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    }
    .actions{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    color:var(--textcolor1);
    }
    .actions a{
    text-decoration: none;
    color: var(--textcolor1);
    }
    /* the .actions with 2 children */
    .action:nth-child(2){
    transform: translate(25%, 25%);
    }
    .action:nth-child(1){
    transform: translate(-25%, 25%);
    }
    .action:only-child{
    transform: translate(0,0);
    }
    .scheduleClass{
      background-color: #ffb0b0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      position: relative;
      overflow: scroll;
      font-size: .7rem;
      padding: 2px 6px 6px 6px;
      font-weight: 500; 
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .scheduleClass::-webkit-scrollbar {
      display: none;
    }
    .scheduleClass span{
      position: absolute;
      top: 1px;
      right: 1px;
      color: #646464;
      display: none;
    }
    .scheduleClass span:hover{
      color: #000000;
    }
    .scheduleClass:hover span{
      display: block;
    }
    .scheduleClassinvis{
      background-color: #00000000;
      border: 1px solid rgba(0, 0, 0, 0);
    } 
    
    .scheduleClassWrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
      width:90%;
      height: 8em;
    }
    